@{
    ViewData["Title"] = "About Me";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<!--About Section start-->
<section class="about">
    <div class="main">
        <img src="/images/picture.jpg" alt="">
        <div class="about-text">
            <h2>About Me</h2>
            <h5><span id="span">Developer</span> & Customer Service</h5>
            <p>
                I am a Software Developer. I can provide clean codes and awesome near perfect customer service.
                I am a motivated and resolute C# developer with extensive knowledge and hands-on experience in software
                development. Adept problem solver with a strong foundation in C# programming language, proficient understanding
                of object-oriented programming (OOP) principles, and skilled in database management. Eager to contribute expertise
                and drive to the success of a software development role within the Tech industry.
            </p>
            <button href="https://www.linkedin.com/in/anthonia-okwe-b73209ab/" type="button">Let's Talk</button>
        </div>
    </div>
</section>
