@model ResumeManager.Models.Anthonia_PAYEDto

@{
    ViewData["Title"] = "Tax Calculator";
}

<div class="text-center">
    <h1 class="display-4">Calculate PAYE</h1>
</div>

<div class="container-fluid">
    <form asp-action="Calculate" method="post">
        <div class="form-group">
            <label class="styled-label">Annual Income</label>
            <input class="form-control custom-input" type="number" asp-for="Income" placeholder="0" />
            <span asp-validation-for="Income" class="text-danger"></span>
        </div>

        <button class="btn custom-button" type="submit">Calculate</button>

        <div class="form-group">
            <label class="styled-label">PAYE Tax</label>
            <span class="form-control custom-span">@ViewBag.CalculatedTax</span>
        </div>
    </form>
</div>

